<span id="like_form-<%= post.id %>">
  <% if current_user && current_user.likeable_for?(post) %>
    <%= link_to "★", like_post_path(post.id), method: :patch, remote: true, class: "liked" %>
  <% elsif current_user && post.likers.find_by(id: current_user.id) %>
    <%= link_to "★", unlike_post_path(post.id), method: :patch, remote: true, class: "unliked" %>
  <% else %>
    ★
  <% end %>
  <%= link_to "#{post.likes.count}", liker_post_path(post.id) %>
</span>
