<% provide(:title, @user.name) %>

<main role="main" class="container">
  <div class="profile-wrap">
    <div class="jumbotron">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p class="lead">
        <%= @user.bio %>
      </p>
      <% if @user == current_user %>
        <%= link_to "編集", edit_user_registration_path, class: "btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</main>
