<div class="main">
  <div class="content bg_image">
    <h1>欲しいものを管理する</h1>
    <p class="lead">
      Use this document as a way to quickly start any new project.<br>
      All you get is this text nd a mostly barebones HTML document.
    </p>
    <div class="nav navbar-nav navbar-right">
      <div class="signup">
        <%= link_to '新規登録', new_user_registration_path, class: "btn btn-lg btn-primary" %>
      </div>
      <div class="signin">
        <%= link_to 'ログイン', new_user_session_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
