@import "bootstrap";

body{
  color: black;
  background-color: lightgray;
}

.content{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.devise-content{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  // color: white;
  // background-color: gray
}

.alerts{
  position: relative;
  top: 57px;
  width: 100vw;
  border-radius: 0px;
}

.notice{
  background-color: green;
  color: white;
  text-align: center;
  position: fixed;
  z-index: 1;
}

.alert{
  background-color: red;
  color: white;
  text-align: center;
  position: fixed;
  z-index: 1;
}

.content h1{
  font-size: 60px;
}

.bg_image{
  // background-color: gray
  // background-image: url(https://www.pakutaso.com/shared/img/thumb/elly20160628585420_TP_V.jpg);
  // background-position: center;
  // background-size: cover;
}

.nav{
  padding-top: 15px;
  align-items: center;
}

.signin{
  padding-top: 10px;
}

.dropdown-item{
  color: brack;
}

#error_explanation{
  margin-top: 50px;
}

.delete-form{
  border-top: 1px solid black;
  margin-top: 50px;
  .btn{
    margin-top: 20px;
  }
}

.profile-wrap{
  margin-top: 100px;
}

.users{
  margin-top: 150px;
}

.debug_dump {
  position: absolute;
  top: 2000px;
}
