<p>こんにちは、<%= @resource.email %>さん!</p>

<p>パスワードの再設定に伴い、確認メールを送信しました。次のリンクでパスワードの再設定が出来ます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えのない場合、このメールは無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
